<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>
    <add key="folder" value="\\wchldev03\sapdem\sapfiles" />
    <add key="folderdstination" value="\\wchldev03\sapdem\demfiles" />
  </appSettings>
  
</configuration>
