<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="pathPrinter" value="\\wdceccdevci01\dem_outbound$\" />
  </appSettings>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebserviceOpenPdfSapSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wchldev03/WS_OpenPdfSap/WebserviceOpenPdfSap.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebserviceOpenPdfSapSoap"
                contract="WsOpenPdf.WebserviceOpenPdfSapSoap" name="WebserviceOpenPdfSapSoap" />
        </client>
    </system.serviceModel>
</configuration>
