<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="returnPath" value="\\wdceccqasci01\dem_outbound$\" />
    <add key="pathLocal" value="C:\\Temp" />
    <add key="usr" value="F_GL_SAP_HR_DM" />
    <add key="pass" value="Sppe$#20@13Xx!" />
  </appSettings>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <BUSINESS.Properties.Settings>
      <setting name="BUSINESS_WsGetPathDecriptHollerith_WebserviceOpenPdfSap" serializeAs="String">
        <value>http://wchldev03/WS_OpenPdfSap/WebserviceOpenPdfSap.asmx</value>
      </setting>
    </BUSINESS.Properties.Settings>
  </applicationSettings>
  

</configuration>
