<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="de-DE"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="Guid" value="7a716497-76c9-4907-ab87-03e9f59d5e1e"/>
    <add key="Webservice" value="http://wdcorc01.intranet.local:81/Orchestrator2012/Orchestrator.svc"/>
  </appSettings>
</configuration>